VITE_FIREBASE_API_KEY=AIzaSyDtytTD5VHlK8VGgOoE_N-Q7c4ZiX2ntEU
VITE_FIREBASE_AUTH_DOMAIN=xeria-eg.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=xeria-eg
VITE_FIREBASE_STORAGE_BUCKET=xeria-eg.firebasestorage.app
VITE_FIREBASE_APP_ID=1:1052466301432:web:e3cf0a591e63973d46ee0d
VITE_DEFAULT_ORG=demo
VITE_USE_EMULATORS=true
VITE_ATTACHMENT_BACKEND=firestore
